{% extends 'pris/base.html' %}
{% load static %}
{% block main %}
<div class="bg-white pd-20 card-box mb-30">
	<h4 class="h4 text-blue">line Chart</h4>
	<div id="chart1"></div>
</div>
<div class="bg-white pd-20 card-box mb-30">
	<h4 class="h4 text-blue">Area Chart</h4>
	<div id="chart2"></div>
</div>
<div class="bg-white pd-20 card-box mb-30">
	<h4 class="h4 text-blue">Column Chart</h4>
	<div id="chart3"></div>
</div>
<div class="bg-white pd-20 card-box mb-30">
	<h4 class="h4 text-blue">Bar Chart</h4>
	<div id="chart4"></div>
</div>
<div class="bg-white pd-20 card-box mb-30">
	<h4 class="h4 text-blue">Mixed Chart</h4>
	<div id="chart5"></div>
</div>
<div class="bg-white pd-20 card-box mb-30">
	<h4 class="h4 text-blue">Timeline Chart</h4>
	<div id="chart6"></div>
</div>
<div class="bg-white pd-20 card-box mb-30">
	<h4 class="h4 text-blue">Candlestick Chart</h4>
	<div id="chart7"></div>
</div>
<div class="row">
	<div class="col-md-6 mb-30">
		<div class="pd-20 card-box height-100-p">
			<h4 class="h4 text-blue">Pie Chart</h4>
			<div id="chart8"></div>
		</div>
	</div>
	<div class="col-md-6 mb-30">
		<div class="pd-20 card-box height-100-p">
			<h4 class="h4 text-blue">Radial Bar Chart</h4>
			<div id="chart9"></div>
		</div>
	</div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'pris/src/plugins/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'pris/vendors/scripts/apexcharts-setting.js' %}"></script>
{% endblock %}
