{% extends 'pris/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'pris/src/plugins/jquery-steps/jquery.steps.css' %}">
{% endblock %}
{% block main %}

<div class="clearfix pt-4 pl-4 pr-4">
	<h4 class="text-center h4">Change Password</h4>

</div>
<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
	<div class="container">
		<div class="row align-items-center">
			<div class="register-box bg-white box-shadow border-radius-10 pd-30">
				<div class="wizard-content">
					<form  method="POST" enctype="multipart/form-data"
						id="form">
						{% csrf_token %}
							<div class="form-wrap max-width-600 mx-auto">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Username</label>
									<div class="col-sm-8">
										<input type="text" {% if user.is_superuser == False %} readonly{% endif %} class="form-control" name="username" value="{{request.user}}">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Password</label>
									<div class="col-sm-8">
										<input type="password" class="required form-control" name="password"
											id="password">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Confirm Password</label>
									<div class="col-sm-8">
										<input type="password" class="required form-control" name="confirm">
									</div>
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% for message in messages %}
<!-- success Popup html Start -->
<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body text-center font-18">
				<h3 class="mb-20">
					{% if 'error' in message.tags %}Error{% elif 'success' in message.tags%}Success{% endif %}</h3>
				<div class="mb-30 text-center">{% if 'error' in message.tags %}<img
						src="{% static 'pris/vendors/images/cross.png' %}">{% elif 'success' in message.tags%}<img
						src="{% static 'pris/vendors/images/success.png' %}">{% endif %}
				</div>
				{{message}}
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- success Popup html End -->
{% endfor %}
{% endblock %}
{% block scripts %}
<script src="{% static 'pris\src\plugins\jquery-validation-1.19.1\dist\jquery.validate.min.js' %}"></script>
<script src="{% static 'pris\vendors\scripts\form-validation.js' %}"></script>
<!--- JQUERY Validator --->
<!-- <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script> -->
<script>
	var form = $( "#form" );
	form.validate( {
		password: {
			required: true,
			minlength: 8,
		},
		rules: {
			confirm: {
				equalTo: '#password'
			}
		},
	} );
	$( document ).ready( function () {
		$('#success-modal').modal('show')
	} );
</script>
{% endblock %}
