{% extends 'pris/base.html' %}
{% load static %}{% load mytags %}
{% block styles %}
<!-- bootstrap-tagsinput css -->
<link rel="stylesheet" type="text/css"
	href="{% static 'pris/src/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}">
{% endblock %}
{% block main %}
<div class="faq-wrap">
	<div id="accordion">
		<div class="card">
			<div class="card-header">
				<button class="btn btn-block" data-toggle="collapse" data-target="#faq1">
					Curriculum <i class="dw dw-settings2"></i>
				</button>
			</div>
			<div id="faq1" class="collapse show" data-parent="#accordion">
				<div class="card-body p-0">
					<hr>
					<form action="" method="post">{% csrf_token %}
						<div class="pd-20 mb-20">
							<div class="mb-30">
								<h5 class="h5">Subjects</h5>
								<small>
									<p>Currently there is <span class="text-primary">{% if subject_list.count == 0 %}no
											any
											{% else %}{{subject_list.count|numb2words}} {% endif %}
											subject{{subject_list.count|pluralize}}
										</span>
										registered in your school.</p>
								</small>
								<div class="form-group"><input type="text" class="form-control"
										value="{% for subject in subject_list %}{{subject}},{% endfor %}"
										name="subject-list" data-role="tagsinput">
								</div>
							</div>
							<button type="submit" class="btn btn-primary btn-sm" name="subjects">Save</button>
						</div>
					</form>
					<hr>
					<form action="" method="post">{% csrf_token %}
						<div class="pd-20 mb-20">
							<div class="mb-30">
								<h5 class="h5">Grade Levels</h5>
								<ol>
									<li><small>
											<p>Categorize your school classes into different groups so as to eaze <span
													class="text-primary"><strong>Accessibility</strong></span> and <span
													class="text-primary "><strong>Management.</strong></span></p>
										</small></li>
									<li><small>
											<p>Currently there is <span
													class="text-primary">{% if grade_levels|length == 0 %}no any
													{% else %}{{grade_levels.count|numb2words}} {% endif %}
													level{% if grade_levels > 1 %}{{grade_levels.count|pluralize}}{% endif %}
												</span>
												registered in your school.</p>
										</small></li>
								</ol>
								<div class="form-group"><input type="text" class="form-control"
										value="{% for grade_level in grade_levels %}{{grade_level}},{% endfor %}"
										name="grade-level" data-role="tagsinput">
								</div>
							</div>
							<button type="submit" class="btn btn-primary btn-sm" name="grade-levels">Save</button>
						</div>
					</form>
					<hr>
					<form action="" method="post">{% csrf_token %}
						<div class="pd-20 mb-20">
							<div class="mb-30">
								<h5 class="h5">Classes</h5>
								<small>
									<p>Currently there is <span class="text-primary">{% if class_list.count == 0 %}no
											any
											{% else %}{{class_list.count|numb2words}} {% endif %}
											class{{class_list.count|pluralize:'es'}}
										</span> registered in your school.</p>
								</small>
								<input type="text" value="{% for class in class_list %}{{class}},{% endfor %}"
									name="class-list" data-role="tagsinput">
							</div>
							<button type="submit" class="btn btn-primary btn-sm" name="classes">Save</button>
						</div>
					</form>
					<hr>
					<form action="" method="post">{% csrf_token %}
						{% if class_list %}
						<div class="mb-30">
							<div class="pd-20">
								<h4 class="text-blue h4">List of Classes Registered</h4>
							</div>
							<div class="pb-20">
								<div class="table-responsive">
									<table class="table hover table-striped nowrap">
										<thead>
											<tr>
												<th>Position </th>
												<th>Class Name</th>
												<th>Levels</th>
												<th>Respective Subjects</th>
												<th>Class Trs</th>
											</tr>
										</thead>
										<tbody>
											{% for class in class_list %}
											<tr>
												<td class="table-plus">{{class.position}}.</td>
												<td>{{class.name}}</td>
												<td>
													<select class="selectpicker form-control"
														data-style="btn-outline-primary" data-size="5"
														name="{{class}}-grade-level">
														{% for grade_level in grade_levels %}
														<option value="{{grade_level}}"
															{% if class.level == grade_level %}selected{% endif %}>
															{{grade_level}}</option>
														{% endfor %}
													</select>
												</td>
												<td>
													<select class="custom-select2 form-control" multiple="multiple"
														style="width: 100%;" name="{{class}}-subjects">

														{% if class.subject_set.all.count != 0 %}
														{% for subject in subject_list %}
														<option value="{{subject}}"
															{% if subject in class.subject_set.all %}selected{% endif %}>
															{{subject}}</option>
														{% endfor %}
														{% else %}
														{% for subject in subject_list %}
														<option value="{{subject}}" selected>
															{{subject}}</option>
														{% endfor %}
														{% endif %}

													</select>
												</td>
												<td>
													<select class="custom-select2 form-control" name="{{class}}-teacher"
														style="width: 100%; height: 38px;">
														<optgroup label="Teachers">
															{% for teacher in teacher_list %}
															<option value="{{teacher.employee.user}}"
																{% if teacher == class.teacher %}selected{% endif %}>
																{{teacher.employee.user.get_fullname}}</option>
															{% endfor %}
														</optgroup>
													</select>
												</td>
											</tr>
											<div class="modal fade" id="confirmation-modal-{{i.pk}}" tabindex="-1"
												role="dialog" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-body text-center font-18">
															<h4 class="padding-top-30 mb-30 weight-500">Are you sure you
																want to delete?
															</h4>
															<div class="padding-bottom-30 row"
																style="max-width: 170px; margin: 0 auto;">
																<div class="col-6">
																	<button type="button"
																		class="btn btn-secondary border-radius-100 btn-block confirmation-btn"
																		data-dismiss="modal"><i
																			class="fa fa-times"></i></button>
																	NO
																</div>
																<form action="" method="post">{% csrf_token %}
																	<div class="col-6">
																		<button type="submit" name="delete"
																			value="{{i.pk}}"
																			class="btn btn-primary border-radius-100 btn-block confirmation-btn"><i
																				class="fa fa-check"></i></button>
																		YES
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="edit-transaction-modal-{{i.pk}}" class="modal modal-top fade ">
												<div class="modal-dialog modal-dialog-centered">
													<div class="modal-content">
														<form method="POST">
															{% csrf_token %}
															<div class="modal-body">
																<h4 class="text-blue h4 mb-10">Edit Transaction </h4>
																<div class="form-group">
																	<label>Code</label>
																	<input type="text" class="form-control" name="code"
																		value="{{i.code}}">
																</div>
																<div class="form-group">
																	<label>Name</label>
																	<input type="text" class="form-control" name="name"
																		value="{{i.name}}">
																</div>
																<div class="form-group">
																	<label>Account</label>
																	<select class="form-control " name="accType">
																		<option value="DR">DEBIT</option>
																		<option value="CR">CREDIT</option>
																	</select>
																</div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-outline-primary"
																	data-dismiss="modal">Cancel</button>
																<button type="submit" class="btn btn-primary"
																	value="{{i.pk}}" name="edit">Edit</button>

															</div>
														</form>
													</div>
												</div>
											</div>

											{% endfor %}
										</tbody>

									</table>
									<div class="text-center">
										<button type="submit" class="btn btn-outline-primary btn-sm"
											name="class-subjects-grade-level">Save</button>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
	{% for message in messages %}
	<!-- success Popup html Start -->
	<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body text-center font-18">
					<h3 class="mb-20">Error</h3>
					<div class="mb-30 text-center"><img src="{% static 'pris/vendors/images/cross.png' %}"></div>
					{{message}}
				</div>
				<div class="modal-footer justify-content-center">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	{% endfor %}

</div>


{% endblock %}
{% block scripts %}
<script src="{% static 'pris/src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'pris/src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'pris/src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'pris/src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
<!-- Datatable Setting js -->
<script src="{% static 'pris/vendors/scripts/datatable-setting.js' %}"></script>
<!-- bootstrap-tagsinput js -->
<script src="{% static 'pris/src/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'pris/vendors/scripts/advanced-components.js' %}"></script>
<script>
	jQuery( document ).ready( function ( $ ) {

		$( "#error-modal" ).modal( "show" );

	} );
</script>
{% endblock %}
